services:
  enhancer-api:
    build: .
    container_name: magazine-enhancer
    restart: always
    ports:
      - "8000:8000"
    environment:
      # Use the bucket name the client provided
      - GCS_BUCKET_ORIGINAL=photo_enhance
      - GCS_BUCKET_ENHANCED=photo_enhance
      - GOOGLE_APPLICATION_CREDENTIALS=/app/credentials.json
    volumes:
      # 1. Map the credentials file (Client Readiness)
      - ./credentials.json:/app/credentials.json
      # 2. Map the uploads folder (Crucial for Local Testing)
      # This makes the AI save images directly to your computer folder
      - ./temp_uploads:/app/temp_uploads
      
    # Uncomment below if deploying on a machine with NVIDIA GPUs
    # deploy:
    #   resources:
    #     reservations:
    #       devices:
    #         - driver: nvidia
    #           count: 1
    #           capabilities: [gpu]