version: '3.8'

services:
  enhancer-api:
    build: .
    container_name: magazine-enhancer
    restart: always
    ports:
      - "8000:8000"
    environment:
      # Use the bucket name the client provided
      - GCS_BUCKET_ORIGINAL=photo_enhance
      - GCS_BUCKET_ENHANCED=photo_enhance
      - GOOGLE_APPLICATION_CREDENTIALS=/app/credentials.json
    volumes:
      # Map the credentials file from host to container
      - ./credentials.json:/app/credentials.json
    #deploy:
     # resources:
       # reservations:
          #devices:
           # - driver: nvidia
             # count: 1
              #capabilities: [gpu]
